<h2>Welcome to Recipe Box</h2>
<h2>Sign in</h2>
<%= form_tag sign_in_path , method: :post , :class => 'sign_form' do %>
  <input type="text" name="username" placeholder="username" value="<%= cookies[:username] %>" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Sign in" />
<% end %>
