
<h2>Sign up</h2>
<%= form_tag sign_up_path , method: :post, :class => 'sign_form' do %>
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="useremail" placeholder="useremail" />
  <input type="password" name="password" placeholder="password" />
  <input type="password" name="password_confirmation" placeholder="password again" />
  <input type="submit" value="Sign up" />
<% end %>
