

  <nav class="temp_nav">
    <a href="#">Poultry</a>  <a href="#">Beef</a>  <a href="#">Pork</a>   <a href="#">Lamb</a>
  </nav>

<div class="container_index">

  <div class="temps_display">
    <h3>Poutry</h3>
    <h4>Whole Bird, Thighs, Legs, Wings, Ground Poultry</h4>
    <p>USDA Guidelines (before resting): 165 degrees</p>
    <p>Professional Kitchens (before resting): 165 degrees</p>
    <h4>Boneless Chicken Breasts</h4>
    <p>USDA Guidelines (before resting): 165 degrees</p>
    <p>Professional Kitchens (before resting): 160 degrees</p>
  </div>

  <div class="temps_display">
    <h3>Beef</h3>
    <h4>Rare</h4>
    <p>USDA Guidelines (before resting): n/a</p>
    <p>Professional Kitchens (before resting): 115 degrees</p>
    <h4>Medium-Rare</h4>
    <p>USDA Guidelines (before resting): 145 degrees</p>
    <p>Professional Kitchens (before resting): 120 degrees</p>
    <h4>Medium</h4>
    <p>USDA Guidelines (before resting): 160 degrees</p>
    <p>Professional Kitchens (before resting): 140 degrees</p>
    <h4>Medium-Well</h4>
    <p>USDA Guidelines (before resting): n/a</p>
    <p>Professional Kitchens (before resting): 150 degrees</p>
  </div>

  <div class="temps_display">
    <h3>Pork</h3>
    <h4>Medium</h4>
    <p>USDA Guidelines (before resting): 160 degrees</p>
    <p>Professional Kitchens (before resting): 145 degrees</p>
    <h4>Well-Done</h4>
    <p>USDA Guidelines (before resting): 170 degrees</p>
    <p>Professional Kitchens (before resting): 160 degrees</p>
  </div>

  <div class="temps_display">
    <h3>Lamb</h3>
    <h4>Rare</h4>
    <p>USDA Guidelines (before resting): n/a</p>
    <p>Professional Kitchens (before resting): 115 degrees</p>
    <h4>Medium-Rare</h4>
    <p>USDA Guidelines (before resting): 145 degrees</p>
    <p>Professional Kitchens (before resting): 130 degrees</p>
    <h4>Medium</h4>
    <p>USDA Guidelines (before resting): 160 degrees</p>
    <p>Professional Kitchens (before resting): 140 degrees</p>
    <h4>Medium-Well</h4>
    <p>USDA Guidelines (before resting): n/a</p>
    <p>Professional Kitchens (before resting): 150 degrees</p>
  </div>

</div>
