/***********  GENERAL  ***********/
body {
  background-color: #ECECEA;
  margin: 0;
}
h1 {
  font-family: 'Dosis', sans-serif;
}
h2, h3 {
  text-align: center;
}
textarea {
  height: 100px;
  width: 300px;
}

/***********  IMAGES  ***********/

img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}
a img:hover{
  opacity: .5;
}

/***********  HEADER - NAVIGATION  ***********/
header {
  background-color: rgba(85, 140, 137, .8);
  position:fixed;
  width:100%;
  height: 4em;
  top:0;

}
nav.main_nav {
  text-align: right;
  padding-right: 1em;
  display: inline-block;
  width: 50%;
  position:absolute;
  top: 12%;
  right: 5%;
}
nav.main_nav > a {
    padding-right: 1em;
    margin: 1em 0;
    line-height: 3em;
    color: #fff;
    text-decoration: none;
}
nav > a:hover {
  color: rgb(217,133,59);
}
.logo {
  display: inline-bock;
  width: 20%;
  margin: 0;
  position: absolute;
  top: 12%;
  left: 2%;
}
.logo {
  color: #fff;
}
/***********  CONTAINERS  ***********/
.container_show_flex {
  display: flex;
  background-color: #74AFAD;
  padding: 1em;
}
.child_show_flex {
  flex-grow: 1;
}
.container_index {
  width:60%;
  margin: 10% auto;
  padding: 2em;
  background-color: #74AFAD;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 2px 2px 5px;
}
/***********  VIEWS  ***********/

.flash {
  text-align: left;
  margin-top: 100px;
}
.prep {
 background-color: #D9853B;
}
p{
  font-size: 1.25em;
}

.container_index {
  width:60%;
  margin: 10% auto;
  padding: 2em;
  background-color: #74AFAD;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 2px 2px 5px;
}

/***********  CONVERTER  ***********/

nav.temp_nav {
  text-align: center;
}

nav.temp_nav > a {
    margin: 1em 0;
    color: #74AFAD;
    text-decoration: none;
}





/***********  FORMS  ***********/

form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin:auto;
  position:relative;
  width:45%;
  height:450px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input {
  width: 400px;
  display:block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.form_fix {
  display: block;
}



/***********  FOOTER  ***********/
