/***********  GENERAL  ***********/



body {
  background-color: #ECECEA;
  margin: 0;
}
h1 {
  font-family: 'Dosis', sans-serif;
}
h2, h3 {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
a {
  font-family: 'Dosis', sans-serif;
  padding: .5em;
  padding-bottom: 50px;
}


/***********  IMAGES  ***********/



img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border: 2px solid black;
  border-radius: 5px;
}
a img:hover{
  opacity: .5;
  border: 2px solid #D9853B;
}



/***********  HEADER - NAVIGATION  ***********/


header {
  background-color: rgba(85, 140, 137, .8);
  position:fixed;
  width:100%;
  height: 4em;
  top:0;
}
nav.main_nav {
  text-align: right;
  padding-right: 1em;
  display: inline-block;
  width: 55%;
  position:absolute;
  top: 12%;
  right: 5%;
}
nav.main_nav > a {
    padding-right: 1em;
    margin: 1em 0;
    line-height: 3em;
    color: #fff;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1.10em;
}
nav > a:hover {
  color: rgb(217,133,59);
}
.logo {
  display: inline-block;
  width: 20%;
  margin: 0;
  position: absolute;
  top: 12%;
  left: 2%;
  color: #fff;
}


/***********  CONTAINERS  ***********/



.container_show {
  width: 100%;
  background-color: #74AFAD;
  padding: 1em;
}
.child_show {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}
.container_index {
  width:60%;
  margin: 10% auto;
  padding: 2em;
  background-color: #74AFAD;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 2px 2px 5px;
}
.recipe {
  width: 30%;
  height: 200px;
  display: inline-block;
  margin-left: 2%;
}


/***********  VIEWS  ***********/



.flash {
  text-align: center;
  margin-top: 100px;
}
.prep {
 /*background-color: #74AFAD;*/
 width: 100%;
 margin: 0;
 padding: 1em;
 border-top: 25px solid #D9853B;
}
.prep > p {
  width: 60%;
  margin-left: 5%;
}
.indent {
  margin-left: 20%;
}
.comment {
  margin-left: 5%;
}
.comment p:nth-of-type(2) {
  font-size: .75em;
}
p{
  font-size: 1.25em;
}


/***********  TEMPS  ***********/



ul.temp_nav {
  text-align: center;
}
ul.temp_nav > li {
    margin: 1em 0;
    color: #74AFAD;
    cursor: pointer;
    list-style-type: none;
    display: inline;
    padding: 1em;
    font-size: 2em;
    font-family: 'Dosis', sans-serif;
}
ul.temp_nav > li:hover {
  color: rgb(217,133,59);
}
.temps_hide {
  display:none;
}



/***********  FORMS  ***********/


form.new_form {
  text-align: left;
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: 0 auto;
  position:relative;
  width:40%;
  height:525px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: #74AFAD;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:20px;
  border: 1px solid #999;
  border: 1px inset #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 200px;
}
input {
  width: 500px;
  display:block;
  border: 1px solid #999;
  height: 25px;
  margin-bottom: .5em;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
textarea {
  height: 150px;
  width: 500px;
  display: block;
  margin-bottom: .5em;
}
form{
  margin: 0 auto;
  width: 40%;
}
form.sign_form {
  width: 15%;
}
form.sign_form > input {
  width: 200px;
}
